.center {
  margin: auto;
  max-width: 900px;
}

.center-top{
  align-items: flex-start !important;
}

.mat-grid-tile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: auto;
  height: auto;
  min-width: 400px;
  background-color: #fbf9fd;
  margin-bottom: 20px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.full-width {
  width: 100% !important;
}

.form {
  min-width: 150px;
  width: 100%;
}

.separator {
  margin: 40px auto;
  height: 20px;
  width: 100%;
  background-color: white;
}

.mat-grid-tile:first-child {
  grid-column: 1 / span 2;
}
